extends layout

block content
  h1= title
  p Welcome to a room booking web application - Daniel Hoffman | CTEC3451 Final Year Project | De Montfort University |
  
  .topnav
    .dropdown
        button.dropbtn
            | Home
            i.fa.fa-caret-down
        .dropdown-content
            a(href='/') Home
            a(href='#contact') Contact
            a(href='#about') About us    
    a(href='/login') Login 
    a(href='/register') Register
    