<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <h1></h1>
    <p>Welcome to a room booking web application - Daniel Hoffman | CTEC3451 Final Year Project | De Montfort University |</p>
    <div class="topnav">
      <div class="dropdown">
        <button class="dropbtn">Home<i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content"><a href="/">Home</a><a href="#contact">Contact</a><a href="#about">About us    </a></div>
      </div>
        <a href="/login">Login </a>
        <a href="/register">Register</a>
    </div>
  </body>
</html>