<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <h1></h1>
    <p>Welcome to stubborness: </p>
    <!-- how to refrence the title if needed -> #{title}-->
    <div class="topnav"><a class="active" href="#home">Home</a><a href="#rooms">Rooms</a><a href="#login">Login</a><a href="#contact">Contact</a><a href="#booking">Booking</a>
      <input type="text" placeholder="Search rooms...">
    </div>
  </body>
</html>