extends layout

block content
    h1= title
    p Here you can login
    .topnav
        .dropdown
            button.dropbtn
                | Home
                i.fa.fa-caret-down
            .dropdown-content
                a(href='/') Home
                a(href='#contact') Contact
                a(href='#contact') About us    
        a(class='active', href='/login') Login 
        a(href='/register') Register
    .forms
        form(action='/login', method = 'POST')
            br
            label(for='username') Username:
            input#username(type='text', name='username', required='')
            br
            br
            label(for='password') Password:
            input#password(type='password', name='password', required='')
            br
            br
            input(type='submit', value='Login')
    .row
        table(class= 'w3-table-all w3-centered')
            thead
                tr
                 th Login Status:
            tbody
                each state in status
                    tr
                     td
                        |#{state.status}
                     