extends layout

block content
    h1= 'Welcome ' + title
    p You are logged in now
    .topnav
        .dropdown
            button.dropbtn
                | Home
                i.fa.fa-caret-down
            .dropdown-content
                a(href='/') Home
                a(href='#contact') Contact
                a(href='#contact') About us    
        a(href='/room_List') Rooms
        a(href='/search_Results') Search
        a(href='/booking') Booking
        a(href='/logout', onclick="return confirm('You are about to logout')") Logout