extends layout

block content
  h1= 'Search results'
  .topnav
      .dropdown
          button.dropbtn
              | Home
              i.fa.fa-caret-down
          .dropdown-content
              a(href='/') Home
              a(href='#contact') Contact
              a(href='#contact') About us    
      a(href='/room_List') Rooms
      a(class='active', href='/search_Results') Search
      a(href='/booking') Booking
      a(href='/login') Logout
  .search-container
      form(action='/search_Results', method='POST')
          input#search(type='text', name='search', placeholder='Search...')
          button(type="submit")
              i.fa.fa-search
  .table
      table(class= 'w3-table-all w3-centered')
          thead
              tr
               th Id
               th Name
               th Building
          tbody
              each room in rooms
                  tr
                   td
                          |#{room.id}
                   td
                          |#{room.room}
                   td
                          |#{room.building}
  