extends layout

block content
  h1= 'Search results'
  .topnav
      .dropdown
          button.dropbtn
              | Home
              i.fa.fa-caret-down
          .dropdown-content
              a(href='/') Home
              a(href='#contact') Contact
              a(href='#about') About us    
      a(href='/room_List') Rooms
      a( href='/search_Results') Search
      a(class='active', href='/booking') Booking
      a(href='/login') Logout
  .search-container
      form(action='/search_Results', method='POST')
          input#search(type='text', name='search', placeholder='Search...')
          button(type="submit")
              i.fa.fa-search
  